*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
}

/* * {
  outline: 2px solid lime;
} */

header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

nav {
  align-self: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;

  li {
    font-size: 1.125rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

#chef-rat {
  max-width: 250px;
}

main {
  padding-inline: 2rem;
}

h1 {
  margin-block-end: 1rem;
}
