<!-- prettier-ignore -->
{% extends 'inventory/base.html' %}
{% load static %}
{% block content %}
<!-- prettier-ignore -->
<h2>Welcome to my first Django app.</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti quis
  eligendi, mollitia repellendus odit qui ratione, voluptate error suscipit at
  libero officiis animi quasi, voluptatum delectus rerum cum temporibus magni
  dolore incidunt magnam ad explicabo? Officia libero aperiam quidem, distinctio
  totam porro? Officiis labore sint ipsum maxime corrupti iste, nostrum fugiat
  consectetur, neque perferendis tenetur aperiam! Voluptate est voluptatem rem?
  Aut laborum veritatis consectetur nihil fuga dolorum molestiae ab id odio
  nesciunt voluptatibus neque veniam sit expedita nulla sint magnam iure qui
  distinctio eaque reprehenderit, soluta saepe repudiandae? Perspiciatis
  corporis adipisci aperiam dolor porro blanditiis provident laudantium deserunt
  saepe!
</p>
{% endblock %}
