{% extends 'inventory/base.html' %} {% block content %}

<h2>Inventory</h2>

<ul>
  {% for ingredient in object_list %}
  <li>
    {{ ingredient.ingredient_name }}
    <ul>
      <li>
        <span>on hand: </span>
        <span>{{ ingredient.ingredient_inv_qty }}</span>
        <span>{{ ingredient.ingredient_unit }}</span>
      </li>
      <li>
        <span>cost: </span>
        <span>{{ ingredient.ingredient_unit_price}}</span>/<span
          >{{ingredient.ingredient_unit }}</span
        >
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>

{% endblock %}
