{% extends 'inventory/base.html' %} {% block content %}

<h2>Inventory</h2>
<!-- make a table -->
<table>
  <caption>
    Ingredients
  </caption>
  <thead>
    <tr>
      <th>ingredient name</th>
      <th>qty on hand</th>
      <th>unit price</th>
    </tr>
  </thead>
  <tbody>
    {% for ingredient in currInventory %}
    <tr>
      <td>{{ ingredient.ingredient_name }}</td>
      <td>
        <span>{{ ingredient.ingredient_inv_qty }}</span>
        <span>{{ ingredient.ingredient_unit }}</span>
      </td>
      <td>
        <span>{{ ingredient.ingredient_unit_price|floatformat:2}}</span>/<span
          >{{ingredient.ingredient_unit }}</span
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
