<!-- prettier-ignore -->
{% extends 'inventory/base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<!-- prettier-ignore -->

<h2>Menu</h2>

<a href="{% url 'new_menu_item' %}">add new menu item</a>
<br />
<a href="{% url 'new_recipe_req' %}">add menu item recipe requirement</a>

<p>click an item to see the ingredients required</p>

{% for menu_item in menu_items %}
<details>
  <summary>
    {{ menu_item.menu_item_name }} -
    ${{menu_item.menu_item_price|floatformat:2}}
  </summary>

  <ul>
    needed ingredients: {% for k, v in recipe_reqs.items %} {% for item in v %}
    {% if item.menu_item_name == menu_item %}

    <li>{{ item.ingredient_name }} - {{ item.recipe_qty }}</li>
    {% endif %} {% endfor %} {% endfor %}
  </ul>
</details>
{% endfor %} {% endblock %}
