{% extends 'inventory/base.html' %} {% block content %}
<h2>Purchases</h2>
<p>Total Revenue: <strong>${{ total_orders_sum|floatformat:2 }}</strong></p>
<ul>
  {% for order in purchases %}
  <li>
    order id: {{ order.id}}
    <ul>
      <li>
        <span>Order date: {{ order.order_timestamp}}</span>
      </li>
      <li>
        <span>Customer: {{ order.customer_name}}</span>
      </li>
      <li>
        <span>Menu Item: {{ order.menu_item_name}}</span>
      </li>
      <li>
        <span>Total: ${{ order.order_total|floatformat:2 }}</span>
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>

{% endblock %}
