{% extends 'inventory/base.html' %} {% block content %}
<h2>Purchases</h2>
<p>Total Revenue: <strong>${{ total_orders_sum|floatformat:2 }}</strong></p>
<p>
  Total cost of ingredients used:
  <strong>${{ ingr_used_cost|floatformat:2 }}</strong>
</p>
<p>Total Profit: <strong>${{ profit|floatformat:2 }}</strong></p>

<table>
  <caption>
    orders
  </caption>
  <thead>
    <tr>
      <th>order id</th>
      <th>order date</th>
      <th>customer</th>
      <th>item ordered</th>
      <th>order total</th>
    </tr>
  </thead>
  <tbody>
    {% for order in purchases %}
    <tr>
      <td>{{ order.id}}</td>
      <td>{{ order.order_timestamp}}</td>
      <td>{{ order.customer_name}}</td>
      <td>{{ order.menu_item_name}}</td>
      <td>${{ order.order_total|floatformat:2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
